body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6e1e1;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    font-weight: 200;

}

.main-container {
    position: relative;
}


header {
    background: #030112;
    color: #fff;
    padding: 0px 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;


}


header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1.2rem;
}

header nav ul li a {
    color: #ece4e4;
    text-decoration: none;
}


#sortIntro {
    display: flex;
    overflow: hidden;
    padding: 8% 20px;
    gap: 0 5%;
    height: 500px;
    box-shadow: 0 0 3px rgb(40, 40, 40);
    color: #141414;


}



.about-section {
    margin-top: 10px;
}

#myPhoto {

    overflow: hidden;
    /* border: 2px solid rgb(255, 0, 0); */
    min-width: 280px;
    /* height: calc(100%-100px); */

    border-radius: 10px;
    box-shadow: 0 0 5px rgb(40, 40, 40);

}

#myPhoto img {

    height: 130%;
    border-radius: 10px;




}

h1 {
    font-size: 40px;
    line-height: 1.4;
    /* text-align: center; */

}

h2 {
    font-size: 24px;
    /* text-align: center; */
    line-height: 2;

}

p {
    /* text-align: center; */
    margin-top: 20px;
}

#intro {

    /* border: 2px solid palevioletred; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid rgba(79, 78, 77, 0.059);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px;



}

.intro-container {
    border: 2px;
    /* border: 1px solid red; */
    width: 100%;

}

.lets {
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.lets a {
    background-color: rgb(61, 72, 176);
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
    /* Padding for the footer */
    font-size: 14px;
}

footer p {
    margin: 0;
}

.social-media {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* Space between icons */
}

.social-media a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
    color: #766ff9;
    /* Hover color */
    transform: scale(1.2);
    /* Slightly enlarges icon on hover */
}