
.project1 , .project2{
    margin-top: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.192); */
    padding-top: 20px;
    border-radius: 10px;
    height: 80%;
    padding-bottom: 120px;

}

#imagesP1 , #imagesP2{

   
    width: 90%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0px 4px;
    border-radius: 7px;


}

#imagesP2{
    width: 100%;
}


#hor-img,
#ver-img {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 2px;
    border-radius: 7px;

}



#ver-img{
    position: absolute;
    right: -65px;
    top: 35px;
    max-width: 400px;
    min-width: 90px;
    width: 34%;
    margin-right: 10px;

}

#discr1 ,#discr2 {
    /* border: 3px solid red; */
    flex-grow: 1;
    width: 100%;
    margin-top: 50px;
    /* vertical-align: top; */
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;

}



/* General animation styles */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project1, .project2 {
    opacity: 0;
    animation: fadeInSlideUp 1s ease forwards;
    padding: 20px;
    margin: 10px;
}

.project1 {
    animation-delay: 0.2s;
}

.project2 {
    animation-delay: 0.4s;
}




#discr1 a , #discr2 a {
    display: inline-block;
    opacity: 0;
    animation: fadeInSlideUp 0.5s ease forwards;
    animation-delay: 0.8s;
    transition: transform 0.3s, background-color 0.3s;

    color: #0026ff;
    font-size: 23px;
    text-decoration: none;
    transition: color 0.3s ease;
    border: 1px solid;
    border-radius: 4px;
    /* background: #afbff5; */
}

#discr1 a:hover , #discr2 a:hover {
    transform: scale(1.05);
    background-color: rgba(241, 70, 250, 0.895);
    color: white;
    
}








#hor-imgg,
#ver-imgg {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 2px;
    border-radius: 7px;

}

.ver-imgg-cont {
    height: 90%;
    width: 30%;
    position: absolute;
    top: -30%;
    right: 5%;
    box-shadow: 0 0 3px;
    border-radius: 7px;

}




.i1 , .d1 , .i2, .d2{
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.i1 , .i2{
    transform: translate(-40px , 40px);

}

.d1 , .d2{
    transform: translate(40px , 30px); 
}



.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}


@media(max-width:580px){
    .name{
        display: none;
    }

    .info{
        margin: 0 auto;
    }

    header{
        padding: 0;
    }

    header nav ul li {
        display: inline;
        margin: 0 0.5rem;
    }
}



.chenging{
    display: none;

    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    line-height: 1.6;
    font-size: 15px;
    transition: 400ms;
    /* color: rgb(239, 234, 234); */
}


.activeChange{
    display: flex;
    flex-direction: column;
    justify-content: end;
    animation: fadeInSlideUp 0.5s ease forwards;
    transition: transform 0.3s, background-color 0.3s;
    padding: 0;


    
}







ul {
    list-style-type: disc;
    margin: 15px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 14px;

}

li strong {
    font-size: 16px;
}
















/* 
.chenging {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
} */


#contact{
    gap: 15px;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    flex-direction: row;
    align-items: end;
}

.chenging a {
   
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
   
}

a:hover {
    color: #14aae1;
    transform: scale(1.06);
    cursor: pointer;
}






/* Thin scrollbar styling for WebKit browsers */
#myPhoto::-webkit-scrollbar {
    width: 5px; 
}


#myPhoto::-webkit-scrollbar-thumb {
    background: #717070; /* Color of the scrollbar */
    
}


#myPhoto::-webkit-scrollbar-track {
    background: #e7e4e4; /* Track color */
   
}





#intro::-webkit-scrollbar {
    width: 8px; 
}



#intro::-webkit-scrollbar-thumb {
    background: #4b4b4b; /* Color of the scrollbar */
}





@media(max-width:760px){
    .project1 , .project2{
        padding: 0;
        margin: 0;
    }

    #ver-img{
        position: absolute;
        right: -65px;
        top: 35px;
        max-width: 400px;
        min-width: 70px;
        width: 28%;
        margin-right: 53px;
    }
}